.fondo{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height:100%;
    width: 100%;
    z-index: -1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    padding: 20px;
    background-color: white;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    position: relative;
    align-items: center;
    top: 150px;
}
img{
    width: 150px;
    height: 150px;
}
.padre{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nombre, .email, .repeat_email, .password, .repeat_password{
    display: flex;
    flex-direction: column;
    text-align: left;
}
input{
    padding: 10px;
    border-radius: 25px;
}
input:focus{
    outline: solid gray 2px;
}
.cuenta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="email"] {
    -webkit-appearance: none;
    appearance: none;
  
    width: 100%;
    border: 1px solid #333;
    margin: 0;
  
    font-family: inherit;
    font-size: 90%;
  
    box-sizing: border-box;
  }

.password1:focus:invalid {
    border-color: #900;
    background-color: #fdd;
    outline: none;
}
.password1:focus:valid {
    background-color: lightgreen;
}

#password:focus:valid{
    background-color: white;
}

span{
    font-size: 15px;
    font-weight: 550;
    font-style: italic;
    color: #900;
    box-sizing: border-box; 
    padding: 0;
    border-radius: 5px;
}
label{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
